<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <TargetFramework>net8.0</TargetFramework>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <SelfContained>true</SelfContained>
    <PublishSingleFile>true</PublishSingleFile>
    <IncludeNativeLibrariesForSelfExtract>true</IncludeNativeLibrariesForSelfExtract>
    <DebugType>None</DebugType>
    <DebugSymbols>false</DebugSymbols>
    <PublishProtocol>FileSystem</PublishProtocol>
    <PublishDir>Artifacts\Installers\VisualStudio-Windows-x64\</PublishDir>
    <ProductName>EMC Lab Assistant</ProductName>
    <ApplicationVersion>2.0.0</ApplicationVersion>
  </PropertyGroup>
</Project>
